body {
  background-color: pink !important;
}

@font-face {
  font-family: "Untitled-Sans-Regular";
  src: url("../../assets/untitled-sans-web-regular.woff") format("woff"),
    url("../../assets/untitled-sans-web-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Untitled-Sans-Regular" !important;
}
